*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-font-family: 'Work Sans', sans-serif;
    --main-color: #2b292d;
    --secondary-color: rgba(43, 41, 45, 0.6);
    --efect-color: #fff;
    --bg-background-color: #f3c6bd; 
    --btn-background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #3040C4;
    --add_btn-background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #FFFFFF;
    --add_btn-color: #000;
    --btn_hover-background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #182383;
    --btn_shadow-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1), 2px 6px 8px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(255, 255, 255, 0.1);
    --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--main-font-family);
    color: var(--main-color);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__start {
    justify-content: start;
}

.header {
    background-color: var(--bg-background-color);
    padding: 57px 0 58px;
}

.logo__img {
    margin-right: 15px;
}

.logo__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.logo__text {
    font-size: 18px;
    line-height: 25px;
    color: var(--secondary-color);
}



.header-nav__link {
    font-size: 18px;
    line-height: 25px;
    color: var(--main-color);
    text-decoration: none;
    
}

.header-nav__list {
    margin-right: 75px;
}

.header-nav__item:not(:last-of-type) {
    margin-right: 50px;
}

.header-nav__link {
    position: relative;
}
.header-nav__link::after {
    position: absolute;
    content: '';
    transition: var(--main-timing-function);
}

.header-nav__link:hover::after {
    height: 2px;
    width: 100%;
    background-color: var(--main-color);
    bottom: -12px;
    left: 0;
    transition: var(--main-timing-function);
}

.header-nav__link:hover {
    font-weight: 700;
    transition: var(--main-timing-function);
}

.common__btn {
    width: 160px;
    height: 48px;
    border: transparent;
    border-radius: 2px;
    background: var(--btn-background-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: var(--efect-color);
    cursor: pointer;
} 

/* .header__button {
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 2px;
    background: var(--btn-background-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: var(--efect-color);
} */

.common__btn:hover {
    cursor: pointer;
    background: var(--btn_hover-background-color);
    box-shadow: var(--btn_shadow-box-shadow);
    transition: var(--main-timing-function);

}


.hero {
    background-color: var(--bg-background-color);
}


.hero__content {
    position: relative;
    padding-bottom: 109px;
    z-index: 5;
}

.hero__box {
    position: relative;
}

.hero__img-box {
    position: absolute;
    right: -108px;
    top: 7px;
    z-index: 2;
}
.hero__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 78px; 
    letter-spacing: -0.5px;
    max-width: 754px;
    margin-bottom: 34px;
}

.common__text {
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
}

.hero__text {
    max-width: 456px;
    margin-bottom: 58px;
}

.decription {
    background-color: #f4f5f7;
    padding: 77px 0 76px;
}

.desc__container {
    max-width: 550px;
}

.desc__title {
    font-weight: 700;
}

.desc__title,
.desc__text {
    font-size: 22px;
    line-height: 32px;

}

.journal {
    padding: 30px 0 100px;
}


.visitor {
    background-color: rgba(0, 161, 198, .3);
    text-align: center;
    padding: 108px 0 110px;
}

.visitor__headline {
    max-width: 555px;
    margin: 0 auto;
}

.subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
}

.visitor__sub-title {
    margin-bottom: 24px;
}

.main__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    max-width: 462px;
}

.visitor__title {
    margin-bottom: 30px;
    max-width: 555px;
}

.visitor__text {
    margin-bottom: 34px;
}

.additional__btn {
    width: 160px;
    height: 48px;
    border: transparent;
    border-radius: 2px;
    background: var(--add_btn-background-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: var(--add_btn-color);
    cursor: pointer;
    transition: var(--main-timing-function);
}

.custom__btn {
    color: #3040c4;
}

.additional__btn:hover {
    cursor: pointer;
    color: var(--efect-color);
    background: var(--btn_hover-background-color);
    box-shadow: var(--btn_shadow-box-shadow);
}

.visitor__gallery {
    padding-top: 111px;
}

.visitor__gallery-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.visitor__gallery-item { 
    background: var(--add_btn-background-color);
    transition: var(--main-timing-function);
    border-radius: 8px;
    width: 262px;
}

.visitor__gallery-item:hover {
    background: #3141c5;
}

.visitor__gallery-item:hover p {
    color: var(--efect-color);
}

.visitor__gallery-img {
    display: flex;
    object-fit: cover;
    padding: 22px 0;
    margin: 0 auto;
}

.visitor__gallery-img--caption {
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 34px;
}

.gallery {
    text-align: center;
    padding-bottom: 91px;
}

.gallery__desc-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: var(--add_btn-color);
    margin-bottom: 26px;
}

.gallery__desc-text {
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    max-width: 550px;
    margin: 0 auto 97px;

}

.image__cont {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

.image__two-slots {
    grid-row: span 2 / auto;
}


.gallery__image {
    justify-self: center;
    object-fit: cover;
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
    box-shadow: var(--btn_shadow-box-shadow);
}


.gallery__image:hover {
    transform: scale(1.05);
}

.custom__one {
    padding-bottom: 69px;
}

.quotes {
    text-align: center;
    position: relative;
    border-bottom: 1px solid var(--add_btn-color) ;
}

.quotes__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3142C6;
    margin-bottom: 28px;
}

.quotes__text {
    display: inline-block;
    font-size: 24px;
    line-height: 34px;
    max-width: 750px;
    margin-bottom: 34px;
}

.quotes__author {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.quotes__author-position {
    font-size: 16px;
    line-height: 24px;
    color: rgba(43, 41, 45, .6);
    padding-bottom: 45px;

}

.fluid {
    position: relative;
}

.quotes__img-box {
    position: absolute;
    top: 105px;
    right: -150px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slick-dots {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding-bottom: 35px;
}

.slick-dots button {
    border: transparent;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: 0.2;
    color: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.slick-active button,
.slick-current button {
    background-color: #3142c5;
    opacity: 1;
}

.team-inbox {
    background-color: rgba(252, 240, 227, .4);
    padding: 115px 0 116px;
}

.team-inbox__subtitle {
    color: #F1592B;
    margin-bottom: 26px;
}

.team-inbox__title {
    margin-bottom: 26px;
}

.team-inbox__text {
    margin-bottom: 44px;
}

.team-inbox__response {
    max-width: 519px;
    width: 100%;
    background-color: var(--efect-color);
    padding: 30px 30px 24px;
    border-bottom: 4px solid #0185D0;;
}

.response__text {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 26px;
}

.response__text-bold {
    font-weight: 700;
}

.response__author {
    font-weight: 700;
    line-height: 22px;
}

.response__position  {
    line-height: 22px;
    color: var(--secondary-color);
}

.team-inbox__img  {
    margin-right: 11px;
}

.communication {
    padding: 110px 0 105px;
}


.communication__bottom {
    padding-top: 105px;
    align-items: start;
}

.communication__bottom-item {
    max-width: 360px;
}

.communication__text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
}

.communication__text--bold {
    font-weight: 700;
}

.communication__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-decoration: underline;
    color: #3040c4;
}

.communication__subtitle {
    color: #0189D1;
    margin-bottom: 24px;
}

.communication__title {
    margin-bottom: 30px;
}

.communication__description {
    margin-bottom: 39px;
}

/* features */
.container-for-img {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.features {
    position: relative;
    padding: 105px 0;                                                      
}

.features-some-text {
    margin-bottom: 42px;
}

.features__pre-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;

    margin-bottom: 24px;
}

.features__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: 700;

    margin-bottom: 30px;
    max-width: 462px;
}

.features__text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 461px;
}

.features-items {
    color: #2B292D;
    margin-bottom: 21px;
    cursor: pointer;
}

.features-items__content {
    justify-content: flex-start;
}

.features-items__icon {
    margin-right: 15px;
    transition: 300ms;
}


.features-items__text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.features-items__slide-text {
    font-size: 18px;
    line-height: 26px;

    max-width: 459px;
    margin-top: 8px;
    margin-bottom: 40px;
    position: relative;
    display: none;
}

.features-items__slide-text::after {
    content: '';
    max-width: 457px;
    width: 100%;
    height: 3px;

    background: #3142C6;
    position: absolute;
    left: 0; 
    bottom: -20px;
}

.features-img {
    position: absolute;
    right: 0;
    top: 0;
}

.InSpace-img {
    max-width: 684px;
    width: 100%;
}

.absolute__img {
    position: absolute;
    left: 0;
    top: 258px;
    z-index: -1;
}

.slide-color {
    color: #3142C6;
}

.pic-color {
    fill:#f5411d;
    transition: 300ms;
}

/* employment */
.employment {
    text-align: center;
    padding: 110px 365px 90px;
}

.employment-content {
    margin-bottom: 63px;
}

.employment-content__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 20px;
}

.employment-content__text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;

    max-width: 555px;
    margin: 0 auto 28px;
}

.button--width {
    width: 247px;
}

.employment-items {
    max-width: 750px;
    margin: 0 auto 20px;
    padding: 26px 25px;
    
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
}

.employment-items {
    color: #2B292D;
    cursor: pointer;
    text-align: start;
}

.employment-items__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emp-some-text {
    display: flex;
    max-width: 640px;
    width: 100%;
}

.employment-sub-item {
    text-align: center;
    height: 100%;
}

.employment-items__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    max-width: 408px;
    width: 100%;
}

.employment-items__text {
    font-size: 18px;
    line-height: 24px;
    max-width: 232px;
    width: 100%;
}

.employment-items__icon {
    transition: 300ms;
}

.employment-items__icon-rotate {
    transform: rotate(90deg);
    transition: 300ms;
}

.employment__slide-text {
    margin-top: 3px;
    max-width: 410px;
    display: none;
    text-align: start;

    font-size: 18px;
    line-height: 26px;
}

.change-color {
    background: #3141C5;
    color: #FFFFFF;
    border: 2px solid #3141C5;
}

/* trial */
.trial {
    background-color: #f4f5f7;
    padding: 75px 0;

}

.flex__trial {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trial-box {
    max-width: 555px;
}

.trial-box__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 12px;
}

.trial-box__text {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 26px;

}

.trial__input { 
    width: 375px;
    height: 48px;
    padding-left: 15px;
    background: var(--efect-color);
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 10px;
}

.trial-box__cap {
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-color);
}

.trial-box__terms {
    text-decoration: underline;
    color: #3142c6;
}
/* footer */
.footer {
    padding-top: 90px;
    padding-bottom: 37px;
}

.footer-top {
    display: flex;
    align-items: flex-start;
}

.footer-top__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 43px;
}

.footer-top__description-text {
    font-size: 18px;
    line-height: 26px;
    color: var(--secondary-color);
    max-width: 360px;
    margin-top: 26px;
    margin-bottom: 25px;
}

.app_btn {
    margin-right: 10px;
}

.footer-top__lists {
    display: flex;
    width: 265px;
}

.prd {
    margin-left: 140px;
}

.product-list__header,
.company-list__header {
    font-weight: 700;
    padding-top: 60px;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    width: 265px;
}

.product-list__item a,
.company-list__item a {  
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}


.terms__checkbox {
    opacity: 0;
    display: none;
} 
.fake {
    width: 16px;
    height: 16px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #3142C6;
    display: inline-block;
    position: relative; 
    
    margin-right: 10px;
}


.fake::before {
    content: '';
    width: 12px;
    height: 4px;
    background-color: #f5411d;;
    position: absolute;
    border-radius: 2px;
    opacity: 0;
    transition-duration: 1s;

    transform: rotate(50deg);
    top: 6px;
    left: -2px;
}

.fake::after {
    content: '';
    width: 16px;
    height: 4px;
    background-color: #f5411d;;
    position: absolute;
    border-radius: 2px;
    opacity: 0;
    transition-duration: 1s;

    transform: rotate(-60deg);
    top: 4px;
    left: 2px;
}
.terms__checkbox:checked ~ .fake::before, .terms__checkbox:checked ~ .fake::after {
    opacity: 1;
    transition: 500ms;
}
/* button additional */
.NB {
    position: relative;
    display: inline-block;
    color: var(--efect-color);
    text-decoration: none;
    transition: var(--main-timing-function);
    overflow: hidden;
}

.NB:hover {
    background: var(--btn_hover-background-color);
    color: var(--efect-color);
    box-shadow: 0 0 5px #f5411d, 0 0 25px #f5411d, 0 0 50px #f5411d, 0 0 200px #f5411d;
}

.journal__item-img:hover {
    box-shadow: 0 0 5px #f5411d, 0 0 25px #f5411d, 0 0 50px #f5411d, 0 0 200px #f5411d;
    background-color: #df8b7b;
}

.NB span{
    position: absolute;
    display: block;
}

.NB span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f5411d);
    animation: animate1 1s linear infinite; 
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.NB span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f5411d);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.NB span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f5411d);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.NB span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f5411d);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

/* media rules */

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1090px) {
    .container {
        max-width: 750px;
    }

    .logo__text {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 290px;
    }

    .header {
        background-color: var(--efect-color);
        padding: 8px 0;
    }
}